.artUp
.artM
 %h1(class= "subcategory")Child article
 .incontent
  .reset_form
   -form_for([:admin,@article]) do |f|
    = f.error_messages
    = f.label :name
    %fieldset
     = f.text_field :name
    = f.hidden_field :article_parent_id,:value => params[:id]
    %label(for="Category")Categories
    %fieldset
     = collection_select :article, :category_ids, Category.find(:all, :order => :title), :id, :title,{ :selected => @article.category_ids },{ :multiple => true, :name => 'article[category_ids][]' }
    = f.submit 'Create Article', {:class => "button_orange_arrow"}
    %br
    %br
    = link_to 'Back', admin_articles_path

