.artUp
.artM
 %h1(class= "subcategory")Edit E-Story
 .incontent
  .reset_form
   -form_for([:admin,@e_story]) do |f|
    = f.error_messages
    = f.label :content
    %fieldset
     = f.text_area :content
    = f.label :url
    %fieldset
     = f.text_field :url
    =f.label :sys_favourite
    =f.check_box :sys_favourite
    %br
    %br
    %label(for="Category")Select Categories
    %fieldset
     = collection_select :e_story, :category_ids, Category.find(:all, :order => :title), :id, :title,{ :selected => @e_story.category_ids },{ :multiple => true, :name => 'e_story[category_ids][]' }
    %label(for="Category")Select Articles
    %fieldset
     = collection_select :e_story, :article_ids, Article.find(:all, :order => :name), :id, :name,{ :selected => @e_story.article_ids },{ :multiple => true, :name => 'e_story[article_ids][]' }
    = f.submit 'Edit E-Story', {:class => "button_orange_arrow"}
